[user]
	email = hershel.p.shah@gmail.com
	name = Hershel Shah

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[alias]
	s = status -sb
	co = checkout
	cb = checkout -b
	lg = log --oneline --graph --decorate -20
	unstage = reset HEAD --
	last = log -1 HEAD --stat
