[user]
	email = hershel.p.shah@gmail.com
	name = Hershel Shah

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true

[rerere]
	enabled = true

[branch]
	sort = -committerdate

[rebase]
	autosquash = true

[column]
	ui = auto

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
	algorithm = histogram

[alias]
	s = status -sb
	co = checkout
	cb = checkout -b
	lg = log --oneline --graph --decorate -20
	unstage = reset HEAD --
	last = log -1 HEAD --stat
