# Customize the Starship prompt
add_newline = false

[directory]
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = " "

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"
